@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Quiz</title>
</head>
<body>
    <div class="main">
        <div class="content">
            <div>
                <img class="logo" src="/img/quiz.png" />
            </div>
            <div>
                <a href="/Home/Question"><button class="ready">Bắt đầu</button></a>
            </div>
        </div>
    </div>
</body>
</html>